<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>Mô Tả</h6>
        <p><strong>Vibee là một trong những website đặc thù áp dụng công nghệ thông tin vào hoạt động bán hàng qua
          mạng và sau này sẽ có xu hướng mở rộng.  Việc giao dịch với khách hàng chủ yếu diễn ra trên website.</strong></p>

      </div>
      <div class="col-md-3 blog">
        <h6>Địa Điểm</h6>
        <p class="title"><a
          href="https://goo.gl/maps/sZkpxUCowGvNUz7MA"
          title="">Cơ Sở 1: Ba Vì, Hà Nội</a></p>

      </div>
      <div class="col-md-3">
        <h6>Bạn Có Thể Cần:</h6>
        <ul>
          <li><a href="#" title="">Lên Trên</a></li>

        </ul>
      </div>
      <div class="col-md-3 contact-info">
        <h6>Liên Lạc</h6>
        <p class="c-details">
          <span>Mail</span> <a href="#" title="">lienptph16568@fpt.edu.vn</a><br>
          <span>Tel</span> 0329891028
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright">
        <p>&copy; Copyright 2021. All rights reserved. <a href="#" title="PetCare wordpress theme">Vibee</a></p>
      </div>
    </div>
  </div>
</div>
